* {
    box-sizing: border-box;
  }
   
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: #ffffff;*/
    font-family: 'Montserrat', Arial, Helvetica sans-serif;
}

body{
  background-image: url("grocery.jpg");
  background-attachment:fixed;
  background-size:100% auto;
}

header {
    background: white;
}

nav{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo{
    flex:3;
}

.shopping-nav .shopping-btn {
    margin-right: 0px;
}

 /* Style buttons */
 .shopping-nav .shopping-btn {
    background-color: #ffffff; /* White background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}


a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color:black;
}

.Container {
max-width: 90%;
height: auto;
margin: 80px auto;
background: #FFFFFF;
box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
border-radius: 6px;
align-content: center;
justify-content: space-around;

display: flex;
flex-direction: column;
}

.searchbar{
    display:flex;
    background-color:blue;
    border-bottom:  1px solid #E1E8EE;
    padding-bottom: 10px;
    padding-top:10px;
}

.searchbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.recom{
    border-bottom:  1px solid #E1E8EE;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.label{
    font-size: 20px;
    margin-bottom:10px;
}

.recom-recip{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-btn:hover{
    background-color:#ffffff;
}


/*template designs*/

.title {
height: 60px;
border-bottom: 1px solid #E1E8EE;
padding: 20px 30px;
color: #5E6977;
font-size: 18px;
font-weight: 400;
}

.item {
padding: 20px 30px;
height: 120px;
display: flex;
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
}

.item:last-child{
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
padding-bottom: 30px
}

.buttons {
position: relative;
padding-top: 30px;
margin-right: 100px;
/*background-color: pink;*/
align-content: center;
}

.description {
padding-top: 10px;
margin-right: 60px;
width: 250px;
}

.description span {
display: block;
font-size: 14px;
font-weight: 400;
margin-right: 5px;
}

.description span {
margin-bottom: 5px;
color: #43484D;
}

button {
width: 30px;
height: 30px;
/*border-radius: 6px; for rounded corners*/ 
border: none;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
align-items: center;
}

button:hover {
    background-color: lightgrey;
} 


button:focus,
input:focus {
outline:0;
}
.search-btn{
    float: left;
    width: 33.33%;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 100px 100px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer; /* Mouse pointer on hover */
}
.search-btn:hover {
    background-color: lightgrey; 
}* {
    box-sizing: border-box;
  }
   
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: #ffffff;*/
    font-family: 'Montserrat', Arial, Helvetica sans-serif;
}

body{
  background-image: url("grocery.jpg");
  background-attachment:fixed;
  background-size:100% auto;
}

header {
    background: white;
}

nav{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo{
    flex:3;
}

.shopping-nav .shopping-btn {
    margin-right: 0px;
}

 /* Style buttons */
 .shopping-nav .shopping-btn {
    background-color: #ffffff; /* White background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}


a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color:black;
}

.Container {
max-width: 90%;
height: auto;
margin: 80px auto;
background: #FFFFFF;
box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
border-radius: 6px;
align-content: center;
justify-content: space-around;

display: flex;
flex-direction: column;
}

.searchbar{
    display:flex;
    background-color:blue;
    border-bottom:  1px solid #E1E8EE;
    padding-bottom: 10px;
    padding-top:10px;
}
.title .search-container {
    float: center;
    width: 80%;
    padding-bottom: 10px;
}

.title input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border-color:lightgrey;
border-style: solid;
border-width:1px;
border-radius:6px;
width:850px;
margin-left: 70px;
}

.title .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
padding-bottom: 10px;
background:#ffffff;
font-size: 17px;
border-color: none;
cursor: pointer;
}

.title .search-container button:hover {
background: lightgrey;
}

.recom{
    border-bottom:  1px solid #E1E8EE;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.label{
    font-size: 20px;
    margin-bottom:10px;
}

.recom-recip{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-btn:hover{
    background-color:#ffffff;
}


/*template designs*/

.title {
height: 70px;
border-bottom: 1px solid #E1E8EE;
color: #5E6977;
font-size: 18px;
font-weight: 400;
padding-top: 10px;
padding-bottom:10px;
}

.item {
padding: 20px 30px;
height: 120px;
display: flex;
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
}

.item:last-child{
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
padding-bottom: 30px
}

.buttons {
position: relative;
padding-top: 30px;
margin-right: 100px;
/*background-color: pink;*/
align-content: center;
}

.description {
padding-top: 10px;
margin-right: 60px;
width: 250px;
}

.description span {
display: block;
font-size: 14px;
font-weight: 400;
margin-right: 5px;
}

.description span {
margin-bottom: 5px;
color: #43484D;
}

button {
width: 30px;
height: 30px;
/*border-radius: 6px; for rounded corners*/ 
border: none;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
align-items: center;
}

button:hover {
    background-color: lightgrey;
} 


button:focus,
input:focus {
outline:0;
}
.search-btn{
    float: left;
    width: 33.33%;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 100px 100px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer; /* Mouse pointer on hover */
}
.search-btn:hover {
    background-color: lightgrey; 
}