*{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*I love me some border-box*/

/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
}

.surprise-btn-container {
    max-width: 27%;
    margin-left: 68%;
    display:flex;
    align-items: center;
    align-content:center;
    margin-top:1%;
}

.surp-btn{
    background-color: #ffffff; /* White background */
    border: none; /* Remove borders */
    color: black; /* White text */
    font-size: 16px; /* Set a font size */
    float: right;
    text-align: center;
    height:40px;
    width:100%;
    border-radius: 6px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    cursor: pointer; /* Mouse pointer on hover */
}
.surp-btn:hover {
    background-color: lightsalmon; 
}

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    align-content: center;
    justify-content: space-evenly;
}

/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/


.Left,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    margin-top:1%;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    max-width:800px;
    background-color:#ffffff;
}

/*shopping list section*/

.Right {
    max-width: 480px;
    background-color: #ffffff;
}

.rcp-disp{
    width: 350px;
    margin-right:0px;
}

.no-of-svgs{
    padding-top: 24px;
    margin-right: 60px;
    width: 300px;
}

.add-to-button {
    background-color: #ffffff; /* White background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float:right;
    height:44px;
}

.to-list{
    width: 200px;
    padding-bottom: 4px;
}

.to-cart{
    width:150px;
    padding-bottom: 4px;
}

.to-list:hover{
    background-color: lightgreen;
}

.to-cart:hover{
    background-color: lightpink;
}

.item {
padding: 20px 30px;
height: 120px;
display: flex;
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
}


.servings{
    padding-top: 10px;
}

.description {
padding-top: 10px;
margin-right: 60px;
width: 300px;
}

.description span {
display: block;
font-size: 14px;
font-weight: 400;
margin-right: 5px;
}

.description span {
margin-bottom: 5px;
color: #43484D;
}
.description .available{
font-weight: 300;
margin-top: 8px;
color: green;
}
.description .not-available {
    font-weight: 300;
    margin-top: 8px;
    color: red;
}

.quantity {
padding-top: 20px;
margin-right: 60px;
}
.quantity input {
-webkit-appearance: none;
border: none;
text-align: center;
width: 32px;
font-size: 16px;
color: #43484D;
font-weight: 300;
}

button {
width: 30px;
height: 30px;
/*border-radius: 6px; for rounded corners*/ 
border: none;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
align-items: center;
}

button:hover {
    background-color: lightgrey;
} 


button:focus,
input:focus {
outline:0;
}

body{
background-image: url("grocery.jpg");
background-attachment:fixed;
background-size:100% auto;
}

.shopping-cart {
max-width: 70%;
height: auto;
margin: 80px auto;
background: #FFFFFF;
box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
border-radius: 6px;
align-content: center;

display: flex;
flex-direction: column;
}

.title {
height: 60px;
border-bottom: 1px solid #E1E8EE;
padding: 20px 30px;
color: #5E6977;
font-size: 18px;
font-weight: 400;
}

.item {
padding: 20px 30px;
height: 120px;
display: flex;
justify-content: space-evenly;
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
}

.item:last-child{
border-top:  1px solid #E1E8EE;
border-bottom:  1px solid #E1E8EE;
padding-bottom: 30px
}

.buttons {
position: relative;
padding-top: 30px;
margin-right: 10px;
/*background-color: pink;*/
align-content: center;
}
.delete-btn,
.check-btn {
display: inline-block;
Cursor: pointer;
}

.delete-btn {
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
}

.delete-btn:hover {
background-color: lightgrey;
} 

.check-btn {
position: absolute;
top: 30px;
left: 50px;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
}

.check-btn:hover {
background-color: lightgrey;
} 

.substitute-btn,
.location-btn {
display: inline-block;
Cursor: pointer;
margin-left: 50px;
}

.substitute-btn {
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
}

.substitute-btn:hover {
background-color: lightgrey;
} 

.location-btn {
position: absolute;
top: 30px;
left: 70px;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
}

.location-btn:hover {
background-color: lightgrey;
} 



.description {
padding-top: 10px;
margin-right: 20px;
width:450px;
}

.description span {
display: block;
font-size: 14px;
font-weight: 400;
margin-right: 5px;
}

.description span {
margin-bottom: 5px;
color: #43484D;
}
.description .available{
font-weight: 300;
margin-top: 8px;
color: green;
}
.description .not-available {
font-weight: 300;
margin-top: 8px;
color: red;
}

.quantity {
padding-top: 20px;
margin-right: 20px;
}
.quantity input {
-webkit-appearance: none;
border: none;
text-align: center;
width: 32px;
font-size: 16px;
color: #43484D;
font-weight: 300;
}

button {
width: 30px;
height: 30px;
/*border-radius: 6px; for rounded corners*/ 
border: none;
background-color: #ffffff; /* White background */
border: none; /* Remove borders */
color: black; /* White text */
cursor: pointer; /* Mouse pointer on hover */
align-items: center;
}

button:hover {
background-color: lightgrey;
} 


button:focus,
input:focus {
outline:0;
}

.total-price {
width: 83px;
padding-top: 27px;
text-align: center;
font-size: 16px;
color: #43484D;
font-weight: 300;
}

@media (max-width: 800px) {
.shopping-cart {
width: 100%;
height: auto;
overflow: hidden;
}
.item {
height: auto;
flex-wrap: wrap;
justify-content: center;
}
.image img {
width: 50%;
}
.image,
.quantity,
.description {
width: 100%;
text-align: center;
margin: 6px 0;
}
.buttons {
margin-right: 20px;
}
}

